<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de registro de asistencias</title>

</head>
<body>
       <form id="forma" action="/cursos" method="post" onsubmit="return validar()">
        <fieldset form="forma" style="width: 550px;">
            <legend>Nuevo curso</legend>
            <label for="nombre" style="display: inline;">Nombre: </label><input type="text" id="nombre" name="nombre" placeholder="Nombre del curso..." style="display: inline;" required>
            <label for="horario" style="display: inline;">Hora de inicio: </label>
            <select id="horario" name="horario">
                <%for(let i = 0; i < 24; i++){%>
                    <option value="<%=i%>"><%=i%></option>
                <%}%>
            </select>hrs.<br/>
            <input type="checkbox" id="diaLunes" name="diaLunes" value="Lun"><label for="diaLunes">Lunes</label>
            <input type="checkbox" id="diaMartes" name="diaMartes" value="Mar"><label for="diaMartes">Martes</label>
            <input type="checkbox" id="diaMiercoles" name="diaMiercoles" value="Mie"><label for="diaMiercoles">Miércoles</label>
            <input type="checkbox" id="diaJueves" name="diaJueves" value="Jue"><label for="diaJueves">Jueves</label>
            <input type="checkbox" id="diaViernes" name="diaViernes" value="Vie"><label for="diaViernes">Viernes</label>
            <input type="checkbox" id="diaSabado" name="diaSabado" value="Sab"><label for="diaSabado">Sábado</label><br/>
            <label for="periodo" style="display: inline;">Periodo: </label>
            <select name="periodo" id="periodo">
                <%for(let i = 0; i < periodos.length; i++){%>
                    <option value="<%=periodos[i].nombre%>"><%=periodos[i].nombre%></option>
                <%}%>
            </select><br/>
            <input type="submit" value="Registrar">
        </fieldset>
       </form>
       <hr/>
       <h2>Lista de cursos</h2>
        <table id="mainTabla">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Periodo</th>
                    <th>Hora (hrs.)</th>
                    <th>Dias</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i = 0; i < cursos.length; i++){%>
                    <tr>
                        <td id="nombre<%=i%>"><%=cursos[i].nombre%></td>
                        <td id="periodo<%=i%>"><%=cursos[i].periodo%></td>
                        <td id="hora<%=i%>"><%=cursos[i].horario%></td>
                        <td id="dias<%=i%>"><%=cursos[i].dias%></td>
                        <td><a href="/cursos/<%=cursos[i]._id%>">Consultar</a></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        
        <script>
        function validar(){
            
            if(document.getElementById("diaLunes").checked == false &&
            document.getElementById("diaMartes").checked == false &&
            document.getElementById("diaMiercoles").checked == false &&
            document.getElementById("diaJueves").checked == false &&
            document.getElementById("diaViernes").checked == false &&
            document.getElementById("diaSabado").checked == false){
                alert("Por favor, seleccione al menos un día de la semana.");
                return false;
            }


            let nombres = [];
            let periodos = []; 
            let horas = [];
            let dias = [];

            for(let i = 1; i < document.getElementById("mainTabla").rows.length; i++){
                nombres.push(document.getElementById("mainTabla").rows[i].cells[0].innerText);
                periodos.push(document.getElementById("mainTabla").rows[i].cells[1].innerText);
                horas.push(document.getElementById("mainTabla").rows[i].cells[2].innerText);
                dias.push(document.getElementById("mainTabla").rows[i].cells[3].innerText.split(","));
            }

            console.log(nombres);
            console.log(periodos);
            console.log(horas);
            console.log(dias);
            console.log("///////////////");

            let nombre = document.getElementById("nombre").value;
            let periodo = document.getElementById("periodo").value;
            let hora = document.getElementById("horario").value;
            let dias_ = [];

            if(document.getElementById("diaLunes").checked){
                dias_.push(document.getElementById("diaLunes").value);
            }
            if(document.getElementById("diaMartes").checked){
                dias_.push(document.getElementById("diaMartes").value);
            }
            if(document.getElementById("diaMiercoles").checked){
                dias_.push(document.getElementById("diaMiercoles").value);
            }
            if(document.getElementById("diaJueves").checked){
                dias_.push(document.getElementById("diaJueves").value);
            }
            if(document.getElementById("diaViernes").checked){
                dias_.push(document.getElementById("diaViernes").value);
            }
            if(document.getElementById("diaSabado").checked){
                dias_.push(document.getElementById("diaSabado").value);
            }

            console.log(nombre);
            console.log(periodo);
            console.log(hora);
            console.log(dias_);
            console.log("/////comparando")

            if(document.getElementById("mainTabla").rows.length > 0){
                for(let i = 0; i < document.getElementById("mainTabla").rows.length-1; i++){
                    console.log("nombre: "+nombres[i] == nombre);
                    console.log("periodos: "+periodos[i] == periodo);
                    console.log("horas: "+horas[i] == hora);
                    console.log("dias: "+dias[i] == dias_);
                    if(nombres[i] == nombre &&
                    periodos[i] == periodo &&
                    horas[i] == hora &&
                    dias[i].toString() == dias_.toString()){
                        alert("No se puede registrar el curso.\nYa existe otro curso con la misma información.");
                        return false;
                    }else{
                        console.log("da false, debería entrar al if como true");
                    }
                }
            }

            alert("El curso se registró exitosamente en la base de datos.");
            return true;


        }
    
        //console.log(document.getElementById("mainTabla").rows[0].cells[0].innerText);

        </script>

</body>
</html>
