<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso: <%=curso[0].nombre%></title>
</head>
<body>
    <h2><%=curso[0].nombre%></h2>
    <h3><%=curso[0].periodo%></h3>
    <h3><%=curso[0].dias%> <%=curso[0].horario%>:00 hrs.</h3>
    
    <form style="width: 50%;" id="nuevaUnidadCompetencia" action="/cursos/<%=curso[0]._id%>/nuevaUnidad" method="POST" onsubmit="return validar()">
        <fieldset form="nuevaUnidadCompetencia">
            <legend>Nueva unidad de competencia</legend>
            <label for="nombre">Nombre: </label><input type="text" id="nombre" name="nombre" placeholder="Nombre de la unidad de competencia..." required><br/>
            <label for="descripcion">Descripcion: </label><input type="text" id="descripcion" name="descripcion" placeholder="Descripción..." required><br/>
            <label for="indice">No. de índice: </label><input type="text" id="indice" name="indice" title="Ingrese un número mayor que 0" required><br/>
            <input type="submit" value="Registrar">
        </fieldset>
    </form>
    
    <form style="width: 50%;" id="consultarFecha" action="/cursos/<%=curso[0]._id%>/fecha" method="POST">
        <fieldset form="consultarFecha">
            <legend>Consultar clase por fecha</legend>
            <label for="fecha">Fecha: </label><input type="date" id="fecha" name="fecha" required>
            <input type="submit" value="Consultar">
        </fieldset>
    </form>

    <form style="width: 50%;" id="registrarClase" name="registrarClase" action="/cursos/<%=curso[0]._id%>/registrarClase" method="POST" enctype="multipart/form-data" onsubmit="return validarArchivo()">
        <fieldset form="registrarClase">
            <legend>Registra una clase (lista de asistencia)</legend>
            <label for="unidadCompetencia">Seleccionar unidad de competencia: </label>
            <select name="unidadCompetencia">
                <option value="-">-</option>
                <%for(let i = 0; i < unidadesCompetencia.length; i++){%>
                    <option value="<%=unidadesCompetencia[i]._id%>"><%=unidadesCompetencia[i].nombre%></option>
                <%}%>                
            </select><br/>
            <label for="archivo">Subir archivo: </label><input type="file" id="archivo" name="archivo" multiple="multiple" required><br/>
            <input type="submit" value="Enviar">
        </fieldset>
    </form>

    <hr>
    <h2>Unidades de competencia</h2>
    <p><strong><a href="/cursos/<%=curso[0]._id%>/lista?_method=GET">Lista de asistencias</a></strong></p>
    <table id="tablaCursos">
        <theader>
            <tr>
                <td>No. unidad</td>
                <td>Nombre de la unidad</td>
                <td>Descripción</td>
                <td><!-- <td> vacío por mera conveniencia --></td>
            </tr>
        </theader>
        <tbody>
            <%for(let i = 0; i < unidadesCompetencia.length; i++){%>
                <tr>
                    <td><%=unidadesCompetencia[i].indice%></td>
                    <td><%=unidadesCompetencia[i].nombre%></td>
                    <td><%=unidadesCompetencia[i].descripcion%></td>
                    <td><a href="/cursos/<%=curso[0]._id%>/<%=unidadesCompetencia[i]._id%>">Consultar</a></td>
                </tr>
            <%}%>
        </tbody>
    </table>

    <script>
        function validarArchivo(){
            if(documento.getElementById("registrarClase").value){
                return true;
            }
            alert("Debe seleccionar un archivo primero.");
            return false;
        }

        function validar(){
            let nombreUnidad = document.getElementById("nombre").value;
            let descripcionUnidad = document.getElementById("descripcion").value;
            let indiceUnidad = document.getElementById("indice").value;
            
            

            let nombres = [];
            let descripciones = [];
            let indices = [];

            for(let i = 1; i < document.getElementById("tablaCursos").rows.length; i++){
                nombres.push(document.getElementById("tablaCursos").rows[i].cells[1].innerText);
                descripciones.push(document.getElementById("tablaCursos").rows[i].cells[2].innerText);
                indices.push(document.getElementById("tablaCursos").rows[i].cells[0].innerText);
            }

            if(document.getElementById("tablaCursos").rows.length > 0){
                for(let i = 0; i < document.getElementById("tablaCursos").rows.length-1; i++){
                    if(nombres[i] == nombreUnidad &&
                    descripciones[i] == descripcionUnidad &&
                    indices[i] == indiceUnidad){
                        alert("Ya existe una unidad de competencia\ncon esas especificaciones.");
                        return false;
                    }
                }
            }

            alert("El curso se ha registrado exitosamente.");
            return true;
        }

        function funcion(){
            alert(document.getElementById("unidadCompetencia").value);
        }
    </script>

</body>
</html>