<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="forma" action="/cursos/actualizar/curso/a/<%=curso._id%>" method="post" onsubmit="return validar()">
        <fieldset form="forma" style="width: 700px;">
            <legend>Actualizar curso</legend>
            <label for="nombre" style="display: inline;
                ">Nombre: </label><input type="text" id="nombre" name="nombre" Value="<%=curso.nombre%>"
                style="display: inline;
                background: #24303c;
                font-size: 18px;
                color: white;
                border-radius: 4px;
                border-color: white;
                font-family: 'calibri';
                padding: 10px;
                margin-bottom: 16px;
                " required>
            <label for="horario" style="display: inline;">Hora de inicio: </label>
            <select id="horario" name="horario"
                  style="
                  background: #393939;
                  color: white;
                  border-radius: 4px;
                  padding: 10px;
                  font-size: 15px;
                  ">
                <%for(let i = 0; i < 24; i++){%>
                    <option value="<%=i%>"><%=i%></option>
                <%}%>
            </select> hrs.<br/>
            <input type="checkbox" id="diaLunes" name="diaLunes" value="Lun"><label for="diaLunes">Lunes</label>
            <input type="checkbox" id="diaMartes" name="diaMartes" value="Mar"><label for="diaMartes">Martes</label>
            <input type="checkbox" id="diaMiercoles" name="diaMiercoles" value="Mie"><label for="diaMiercoles">Miércoles</label>
            <input type="checkbox" id="diaJueves" name="diaJueves" value="Jue"><label for="diaJueves">Jueves</label>
            <input type="checkbox" id="diaViernes" name="diaViernes" value="Vie"><label for="diaViernes">Viernes</label>
            <input type="checkbox" id="diaSabado" name="diaSabado" value="Sab"><label for="diaSabado">Sábado</label><br/>
            <label for="periodo" style="display: inline;">Periodo:</label>
            <select name="periodo" id="periodo"
                style="
                background: #393939;
                color: white;
                border-radius: 4px;
                padding: 10px;
                font-size: 15px;">
                <%for(let i = 0; i < periodos.length; i++){%>
                    <option value="<%=periodos[i].nombre%>"><%=periodos[i].nombre%></option>
                <%}%>
            </select><br/>
            <br/>
            <input type="submit" value="Registrar"
            style="display: inline;
                    background: #1f53c5;
                    color: white;
                    padding: 8px;
                    border: none;
                    border-radius: 6px;
                    font-family: 'calibri';
                    font-size: 20px;

                    ">
        </fieldset>
       </form>
</body>
</html>