<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="NuevaUnidadCompetencia" action="/cursos/actualizar/competencia/c/<%=competencia._id%>" method="POST" onsubmit="return validar()">
        <fieldset style="margin: 15px;
        padding: 15px;
        box-sizing: border-box;
        width: auto;
        background: #24303c;
        padding: 30px;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 30px;
        border-radius: 6px;
        border: none;
        font-family: 'calibri';
        color: white;
        opacity: 0.9;
        "form="NuevaUnidadCompetencia">

            <legend style="font-size: 25px;"><br/>Actualizar unidad de competencia</legend>
            <label for="nombre">Nombre: </label><input
            style="width : 235px;
            padding: 7px;
            border-radius: 8px;"
            type="text" id="nombre" name="nombre" value="<%=competencia.nombre%>" required>
            <label for="descripcion">Descripcion: </label><input
            style=" padding: 7px;
            border-radius: 8px;"
            type="text" id="descripcion" name="descripcion" value="<%=competencia.descripcion%>" required>
            <label for="indice">No. de índice: </label><input
            style=" padding: 7px;
            border-radius: 8px;"
            type="text" id="indice" name="indice" title="Ingrese un número mayor que 0" value="<%=competencia.indice%>" required>
            <input style=" padding: 7px;
            border-radius: 8px;"
             type="submit" value="Actualizar">
        </fieldset>
    </form>
</body>
</html>