<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2><%=curso[0].nombre%></h2>
    <h3><%=competencia[0].nombre%></h3>
    <p>Fecha: <strong><%=clase[0].fecha%></strong></p>

    <hr/>

    <form id="actualizar" name="actualizar" action="/cursos/<%=curso[0]._id%>/<%=competencia[0]._id%>/<%=clase[0].fecha%>/actualizarClase" method="post" enctype="multipart/form-data">
        <fieldset form="actualizar" style="border:0px;">
        <table id="tabla">
            <thead>
                <tr>
                    <td>Nom. del alumno</td>
                    <td>Asistencia</td>
                </tr>
            </thead>
            <tbody>
                <%for(let i = 0; i < asistencias.length; i++){%>
                    <tr>
                        <td><%=alumnos[i].nombre%></td>
                        <%if(asistencias[i].asistencia == "1"){%>
                            <td><input id="marca" type="checkbox" onclick="hicieronClic()" name="alumno<%=i+1%>" value="<%=alumnos[i]._id%>" checked></td>
                        <%}else{%>
                            <td><input id="marca" type="checkbox" onclick="hicieronClic()" name="alumno<%=i+1%>" value="<%=alumnos[i]._id%>"></td>
                        <%}%>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <input type="submit" id="guardar" value="Guardar" disabled>
        </fieldset>
    </form>

    <script>
        
        function hicieronClic(){
            let boton = document.getElementById("guardar");
            boton.disabled = false;
        }


    </script>
    
</body>
</html>