<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style type="text/css">
  p { color: black; font-family: Verdana; }
header{
    font-family: 'calibri';
    float:top;
    background-color:  white;
    text-align: center;
    font-size: 60px;
    padding: 15px;
    height: 80px;
    border-radius: 6px;
}
footer {
    font-family: 'calibri';
    list-style: none;
    margin-left:300px;
    color: gray;
}

nav {
    font-family: 'calibri';
    list-style: none;
    text-align: justify;
    margin: auto;
    color: gray;
}

article{
    font-family: 'calibri';
    float:center;
    font-size: 30px;
    width: 50%;
    heght:100px;
    margin-left:800px;
}
checkbox{
  font-size: 50px;
}

label{
  font-size: 20px;
  padding: 15px;

}
body{
  background-image: url('https://scontent.fhmo2-2.fna.fbcdn.net/v/t1.0-9/23622440_10154812987682330_3808151369140600903_n.png?_nc_cat=103&ccb=2&_nc_sid=174925&_nc_eui2=AeEfBuBuevul3cTo0d0VIQtPCO7J8k_9CAwI7snyT_0IDOCaj89VmFwLOx6vers5WZTq03sO0knSBrageRtL-iRx&_nc_ohc=ePi7crB9eNkAX83Mj3H&_nc_ht=scontent.fhmo2-2.fna&oh=51609e5c5253702c11ac2c6e91aeb53c&oe=5FD90C5A');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
table{
  font-family: 'calibri';
  font-size: 20px;
  background-color: #B23333;
  margin: 15px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 50px;
  width: 900px;
  border-radius: 6px;
  border-collapse: separate;
  border: white 5px solid;
  color: white;
  padding-top: 0px;
  opacity: 0.9;
}
</style>
<body>
    <!-- {curso, competencia} -->
<fieldset style="margin: 15px;
      padding: 15px;
      box-sizing: border-box;
      width: auto;
      background: #B23333;
      padding: 20px;
      border: none;
      border-radius: 3px;
      font-family: 'calibri';
      font-size: 15px;
      color: white;
      opacity: 0.9;
      ">
      <h2><%=curso[0].nombre%></h2>
    </fieldset>
   
    <fieldset style="margin: 15px;
      padding: 15px;
      box-sizing: border-box;
      width: auto;
      background:  #24303c;
      padding: 20px;
      border: none;
      border-radius: 3px;
      font-family: 'calibri';
      font-size: 15px;
      color: white;
      opacity: 0.9;
      ">
    
    <h3>Nombre de la unidad: <%=competencia[0].nombre%></h3>
    <p>Descripción: <%=competencia[0].descripcion%></p>
    <hr/>
    <p>Lista de clases:</p>
    <%if(clases.length > 0){%>
        <ul>
            <%for(let i = 0; i < clases.length; i++){%>
                <li><a href="/cursos/<%=curso[0]._id%>/<%=competencia[0]._id%>/<%=clases[i]._id%>"><%=clases[i].fecha%></a></li>
            <%}%>
        </ul>
    <%}else{%>
        <p>Esta unidad de competencia aun no tiene clases.</p>
    <%}%>
    
    </fieldset>
    
</body>
</html>