<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {curso, competencia} -->
    <h2><%=curso[0].nombre%></h2>
    <h3>Nombre de la unidad: <%=competencia[0].nombre%></h3>
    <p>Descripción: <%=competencia[0].descripcion%></p>
    <hr/>
    <p>Lista de clases:</p>
    <%if(clases.length > 0){%>
        <ul>
            <%for(let i = 0; i < clases.length; i++){%>
                <li><a href="/cursos/<%=curso[0]._id%>/<%=competencia[0]._id%>/<%=clases[i]._id%>"><%=clases[i].fecha%></a></li>
            <%}%>
        </ul>
    <%}else{%>
        <p>Esta unidad de competencia aun no tiene clases.</p>
    <%}%>
    
</body>
</html>