<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso: <%=curso[0].nombre%></title>
</head>
<style type="text/css">
  p { color: black; font-family: Verdana; }
header{
    font-family: 'calibri';
    float:top;
    background-color:  white;
    text-align: center;
    font-size: 60px;
    padding: 15px;
    height: 80px;
    border-radius: 6px;
}
footer {
    font-family: 'calibri';
    list-style: none;
    margin-left:300px;
    color: gray;
}

nav {
    font-family: 'calibri';
    list-style: none;
    text-align: justify;
    margin: auto;
    color: gray;
}

article{
    font-family: 'calibri';
    float:center;
    font-size: 30px;
    width: 50%;
    heght:100px;
    margin-left:800px;
}
checkbox{
  font-size: 50px;
}

label{
  font-size: 20px;
  padding: 15px;

}
body{
  background-image: url('https://scontent.fhmo2-2.fna.fbcdn.net/v/t1.0-9/23622440_10154812987682330_3808151369140600903_n.png?_nc_cat=103&ccb=2&_nc_sid=174925&_nc_eui2=AeEfBuBuevul3cTo0d0VIQtPCO7J8k_9CAwI7snyT_0IDOCaj89VmFwLOx6vers5WZTq03sO0knSBrageRtL-iRx&_nc_ohc=ePi7crB9eNkAX83Mj3H&_nc_ht=scontent.fhmo2-2.fna&oh=51609e5c5253702c11ac2c6e91aeb53c&oe=5FD90C5A');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
table{
  font-family: 'calibri';
  font-size: 20px;
  background-color: #B23333;
  margin: 15px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 50px;
  width: 900px;
  border-radius: 6px;
  border-collapse: separate;
  border: white 5px solid;
  color: white;
  padding-top: 0px;
  opacity: 0.9;
}
</style>
<body>
  <header>
    <strong>Instituto Tecnológico de Sonora</strong>
  </header>
    <fieldset style="margin: 15px;
      padding: 15px;
      box-sizing: border-box;
      width: auto;
      background: #B23333;
      padding: 30px;
      border: none;
      border-radius: 6px;
      font-family: 'calibri';
      font-size: 40px;
      color: white;
      opacity: 0.9;
      ">
      <%=curso[0].nombre%> <%=curso[0].periodo%> <%=curso[0].dias%> <%=curso[0].horario%>:00 hrs.
    </fieldset>
    <form id="NuevaUnidadCompetencia" action="/cursos/<%=curso[0]._id%>/nuevaUnidad" method="POST" onsubmit="return validar()">
        <fieldset style="margin: 15px;
        padding: 15px;
        box-sizing: border-box;
        width: auto;
        background: #24303c;
        padding: 30px;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 30px;
        border-radius: 6px;
        border: none;
        font-family: 'calibri';
        color: white;
        opacity: 0.9;
        "form="NuevaUnidadCompetencia">

            <legend style="font-size: 25px;"><br/>Nueva unidad de competencia</legend>
            <label for="nombre">Nombre: </label><input
            style="width : 235px;
            padding: 7px;
            border-radius: 8px;"
            type="text" id="nombre" name="nombre" placeholder="Nombre de la unidad de competencia..." required>
            <label for="descripcion">Descripcion: </label><input
            style=" padding: 7px;
            border-radius: 8px;"
            type="text" id="descripcion" name="descripcion" placeholder="Descripción..." required>
            <label for="indice">No. de índice: </label><input
            style=" padding: 7px;
            border-radius: 8px;"
            type="text" id="indice" name="indice" title="Ingrese un número mayor que 0" required>
            <input style=" padding: 7px;
            border-radius: 8px;"
             type="submit" value="Registrar">
        </fieldset>
    </form>

    <form id="consultarFecha" action="/cursos/<%=curso[0]._id%>/fecha" method="POST">
        <fieldset style="margin: 15px;
        padding: 15px;
        box-sizing: border-box;
        width: auto;
        background: #24303c;
        padding: 30px;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 30px;
        border-radius: 6px;
        border: none;
        font-family: 'calibri';
        color: white;
        opacity: 0.9;
        "form="consultarFecha">
            <legend><br/>Consultar clase por fecha</legend>
            <label for="fecha">Fecha: </label><input
            style=" padding: 7px;
            border-radius: 8px;"
            type="date" id="fecha" name="fecha" required>
            <input style=" padding: 7px;
            border-radius: 8px;"
            type="submit" value="Consultar">
        </fieldset>
    </form>

    <form id="registrarClase" name="registrarClase" action="/cursos/<%=curso[0]._id%>/registrarClase" method="POST" enctype="multipart/form-data" onsubmit="return validarArchivo()">
        <fieldset style="margin: 15px;
        padding: 15px;
        box-sizing: border-box;
        width: auto;
        background: #24303c;
        padding: 30px;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 30px;
        border-radius: 6px;
        border: none;
        font-family: 'calibri';
        color: white;
        opacity: 0.9;
        " form="registrarClase">
            <legend><br/>Registra una clase (lista de asistencia)</legend>
            <label for="unidadCompetencia">Seleccionar unidad de competencia: </label>
            <select style=" padding: 7px;
            border-radius: 8px;" name="unidadCompetencia">
                <option value="-">-</option>
                <%for(let i = 0; i < unidadesCompetencia.length; i++){%>
                    <option value="<%=unidadesCompetencia[i]._id%>"><%=unidadesCompetencia[i].nombre%></option>
                <%}%>
            </select>
            <label for="archivo">Subir archivo: </label><input style="border-radius: 8px; width: 300px;" type="file" id="archivo" name="archivo" multiple="multiple" required><input
            style=" padding: 7px;
            border-radius: 8px;"
            type="submit" value="Enviar">
        </fieldset>
    </form>

    <hr>
    <h2>Unidades de competencia</h2>
    <p><strong><a href="/cursos/<%=curso[0]._id%>/lista?_method=GET">Lista de asistencias</a></strong></p>
    <table id="tablaCursos">
        <theader>
            <tr>
                <td>No. unidad</td>
                <td>Nombre de la unidad</td>
                <td>Descripción</td>
                <td><!-- <td> vacío por mera conveniencia --></td>
            </tr>
        </theader>
        <tbody>
            <%for(let i = 0; i < unidadesCompetencia.length; i++){%>
                <tr>
                    <td><%=unidadesCompetencia[i].indice%></td>
                    <td><%=unidadesCompetencia[i].nombre%></td>
                    <td><%=unidadesCompetencia[i].descripcion%></td>
                    <td><a href="/cursos/<%=curso[0]._id%>/<%=unidadesCompetencia[i]._id%>">Consultar</a></td>
                <td><button onclick="if(confirm('¿Seguro que quiere eliminar?')){window.location.replace('/cursos/eliminar/competencia/c/<%=unidadesCompetencia[i]._id%>?_method=POST')}">Eliminar</button></td>
                    <td><a href="/cursos/actualizar/competencia/ver/a/<%=unidadesCompetencia[i]._id%>">Actualizar</a></td>
                </tr>
            <%}%>
        </tbody>
    </table>

    <script>
        function validarArchivo(){
            if(documento.getElementById("registrarClase").value){
                return true;
            }
            alert("Debe seleccionar un archivo primero.");
            return false;
        }

        function validar(){
            let nombreUnidad = document.getElementById("nombre").value;
            let descripcionUnidad = document.getElementById("descripcion").value;
            let indiceUnidad = document.getElementById("indice").value;

            let nombres = [];
            let descripciones = [];
            let indices = [];

            for(let i = 1; i < document.getElementById("tablaCursos").rows.length; i++){
                nombres.push(document.getElementById("tablaCursos").rows[i].cells[1].innerText);
                descripciones.push(document.getElementById("tablaCursos").rows[i].cells[2].innerText);
                indices.push(document.getElementById("tablaCursos").rows[i].cells[0].innerText);
            }

            if(document.getElementById("tablaCursos").rows.length > 0){
                for(let i = 0; i < document.getElementById("tablaCursos").rows.length-1; i++){
                    if(nombres[i] == nombreUnidad &&
                    descripciones[i] == descripcionUnidad &&
                    indices[i] == indiceUnidad){
                        alert("Ya existe una unidad de competencia\ncon esas especificaciones.");
                        return false;
                    }
                }
            }
            alert("El curso se ha registrado exitosamente.");
            return true;
        }

        function funcion(){
            alert(document.getElementById("unidadCompetencia").value);
        }
    </script>

</body>
</html>
