<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style type="text/css">
  p { color: black; font-family: Verdana; }
header{
    font-family: 'calibri';
    float:top;
    background-color:  white;
    text-align: center;
    font-size: 60px;
    padding: 15px;
    height: 80px;
    border-radius: 6px;
}
footer {
    font-family: 'calibri';
    list-style: none;
    margin-left:300px;
    color: gray;
}

nav {
    font-family: 'calibri';
    list-style: none;
    text-align: justify;
    margin: auto;
    color: gray;
}

article{
    font-family: 'calibri';
    float:center;
    font-size: 30px;
    width: 50%;
    heght:100px;
    margin-left:800px;
}
checkbox{
  font-size: 50px;
}

label{
  font-size: 20px;
  padding: 15px;

}
body{
  background-image: url('https://scontent.fhmo2-2.fna.fbcdn.net/v/t1.0-9/23622440_10154812987682330_3808151369140600903_n.png?_nc_cat=103&ccb=2&_nc_sid=174925&_nc_eui2=AeEfBuBuevul3cTo0d0VIQtPCO7J8k_9CAwI7snyT_0IDOCaj89VmFwLOx6vers5WZTq03sO0knSBrageRtL-iRx&_nc_ohc=ePi7crB9eNkAX83Mj3H&_nc_ht=scontent.fhmo2-2.fna&oh=51609e5c5253702c11ac2c6e91aeb53c&oe=5FD90C5A');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
table{
  font-family: 'calibri';
  font-size: 20px;
  background-color: #B23333;
  margin: 15px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 50px;
  width: 900px;
  border-radius: 6px;
  border-collapse: separate;
  border: white 5px solid;
  color: white;
  padding-top: 0px;
  opacity: 0.9;
}
</style>
<body>
    
    <!--
    
        <%=info%>
    <hr>
    <%=curso%>
    <hr>
    <%=competencias%>
    <hr>
    <%=listaAlumnos%>
    
    -->

    
<header>
    <strong>Lista de alumnos</strong>
</header>
    <!--
    
        <%=info%>
    <hr>
    <%=curso%>
    <hr>
    <%=competencias%>
    <hr>
    <%=listaAlumnos%>
    
    -->
     <fieldset style="margin: 15px;
      padding: 15px;
      box-sizing: border-box;
      width: auto;
      background: #B23333;
      padding: 20px;
      border: none;
      border-radius: 3px;
      font-family: 'calibri';
      font-size: 15px;
      color: white;
      opacity: 0.9;
      ">
      <h1><%=curso.nombre%></h1>
    </fieldset>
    
    <table>
        <thead>
            <tr>
                <td>Nombre del alumno</td>
                <%for(let i = 0; i < competencias.length; i++){%>
                    <td><%=competencias[i].nombre%></td>
                <%}%>
                <td>No. total de asistencias</td>
                <td>No. total de faltas</td>
            </tr>
        </thead>
        <tbody>
            <%for(let i = 0; i < listaAlumnos.length; i++){%>
                <tr>
                    <td><%=listaAlumnos[i].nombre%></td>
                    <%for(let j = 0; j < info[listaAlumnos[i]._id].asistenciasPorCompetencia.length; j++){%>
                        <td><%=info[listaAlumnos[i]._id].asistenciasPorCompetencia[j]%></td>
                    <%}%>
                    <td><%=info[listaAlumnos[i]._id].asistencias%></td>
                    <td><%=info[listaAlumnos[i]._id].faltas%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>