<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!--
    
        <%=info%>
    <hr>
    <%=curso%>
    <hr>
    <%=competencias%>
    <hr>
    <%=listaAlumnos%>
    
    -->

    <h1><%=curso.nombre%></h1>
    <p><strong>Lista de alumnos</strong></p>
    <table>
        <thead>
            <tr>
                <td>Nombre del alumno</td>
                <%for(let i = 0; i < competencias.length; i++){%>
                    <td><%=competencias[i].nombre%></td>
                <%}%>
                <td>No. total de asistencias</td>
            </tr>
        </thead>
        <tbody>
            <%for(let i = 0; i < listaAlumnos.length; i++){%>
                <tr>
                    <td><%=listaAlumnos[i].nombre%></td>
                    <%for(let j = 0; j < info[listaAlumnos[i]._id].asistenciasPorCompetencia.length; j++){%>
                        <td><%=info[listaAlumnos[i]._id].asistenciasPorCompetencia[j]%></td>
                    <%}%>
                    <td><%=info[listaAlumnos[i]._id].asistencias%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>