<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- {extraido, fullPath, competencia, curso, clase} -->

    <h2><%=curso[0].nombre%></h2>
    <h3><%=competencia[0].nombre%></h3>
    <hr>
    <%if(!clase[0]){%>
        <p>¿Desea guardar esta información?</p>
        <p><a href="/cursos/<%=curso[0]._id%>/altaClase?_method=POST&idUnidad=<%=competencia[0]._id%>&dir=<%=fullPath%>">Sí.</a> <a href="/cursos/<%=curso[0]._id%>">No.</a></p>
    <%}else{%>
        <p>Ya existe un registro con la misma fecha para el curso y la competencia.</p>
    <%}%>
    
    <p>Clase de la fecha: <strong><%=extraido[0].fecha%></strong></p>
    <table>
        <thead>
            <tr>
                <td>Alumno</td>
                <td>Asistencia</td>
            </tr>
        </thead>
        <tbody>
            <%for(let i = 0; i < extraido.length; i++){%>
                <tr>
                    <td><%=extraido[i].nombre%></td>
                    <td><%=extraido[i].asistencia%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>